body {
  font-family: Montserrat, sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
}
#drum-machine {  
  margin: 20px auto;
  width: 400px;
  height: 450px;
  box-shadow: 15px 15px 20px #000;  
  background: #303030;
  border-radius: 10px;
}
.drums {
  width: 355px;  
  margin: auto;
}
.drums button {
  background: #262626;
  color: #ccc;
  float: left;
  width: 100px;
  height: 70px;
  margin: 0 10px 10px 0;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 12px 12px 15px #000;
  border: none;
  outline: none;
}

.drums button:hover {
  background: #707070;
}

.drums button:active {
  background: #97b00a;
}
#header {
  margin: 20px 0;
  color: #fff;  
}
#header span {
  font-size: 18px;  
  margin-top: -10px;
  float: left;
}
#display {
  padding: 20px;
  width: 200px;
  height: 80px;
  box-shadow: 2px 2px 10px #191f21;
  margin: auto;
}

#display p {
  font-size: 16px;
  color: #94dd06;
}
.logo {
  filter: invert(200%) sepia(193%) saturate(1400%) hue-rotate(2deg) brightness(60%) contrast(300%);
}
.img {
  filter: invert(200%) sepia(193%) saturate(0%) hue-rotate(2deg) brightness(40%) contrast(150%);
  float: right;
  width: 60px;
  height: 60px;
}

.drum-active {
  background: #97b00a !important;
}
#footer {
  margin-top: 20px;
}
#footer p {
  color: #999;
  font-size: 13px;
}